#taken from https://github.com/RobotWebTools/rosbridge_suite/blob/ros2/.gitignore
*.pyc
*.iml
*.swp
.project
.pydevproject
.DS_Store
.idea

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# colcon/CMake output
build
install
log